<!DOCTYPE html>

<html lang="en">

  <div class="loading-spinner" *ngIf="isLoading">

    <app-loading-spinner-login></app-loading-spinner-login>
    <p class="logging-text">Processing Image...</p>

  </div>

  <input type="file" accept=".jpg,.jpeg,.png,.bmp" class="file-input" (change)="onFileSelected($event)" #fileUpload>

  <div class="file-upload p-4" *ngIf="!isLoading">

    {{fileName || "No image uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
            (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>

  <button class="btn btn-primary mx-3 my-3 shadow-lg fw-bold" (click)="uploadFile()" *ngIf="!isLoading">Upload Image</button>
  <button class="btn btn-primary mx-2 my-3 shadow-lg fw-bold" (click)="onBackButtonClick()" *ngIf="!isLoading"  type="button">Back</button>

</html>
