html {
  background-color: #ECF2F9;
}

.file-input {
  display: none;
}

.custom-border-top {
  border-top: solid #00A1F2;
  background-color: #F0F0F5;
}

.custom-border-left {
  border-left: solid #00A1F2;
}

.custom-border-right {
  border-right: solid #00A1F2;
}

.custom-border-bottom {
  border-bottom: solid #00A1F2;
  background-color: #F0F0F5;
}

.form-login, .form-register, .form-update-account {
  background: rgba(0, 0, 0, .60);
  max-width: 450px;
  margin: auto;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.form-register, .form-update-account {
  margin-top: 3%;
}

.error-message {
  color: red;
}

.btn {
  background-color: #00a1f2;
  border-color: #00A1F2;
  color: white !important;
}

.btn:hover {
  background-color: #0b5f89;
  border-color: #0b5f89;
}

.loading-spinner {
  text-align: center;
  padding-top: 14%;
}

.logging-text {
  font-weight: bold;
}

.upload-btn {
  background-color: #00a1f2;
  border-color: #00A1F2;
  color: white !important;
}

.upload-btn:hover {
  background-color: #0b5f89;
  border-color: #0b5f89;
  color: white !important;
}

.custom-text-justify {
  text-align: justify;
}

.red-text {
  color: red;
}
