html {
  background-color: #ECF2F9;
}

.file-input {
  display: none;
}

.form-login, .form-register, .form-update-account {
  background: rgba(0, 0, 0, .60);
  max-width: 450px;
  margin: auto;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.form-register, .form-update-account {
  margin-top: 3%;
}

.error-message {
  color: red;
}

#login-button, #signup-button, #update-account-button {
  background-color: #00a1f2;
  border-color: #00a1f2;
}

#login-button:hover, #signup-button:hover, #update-account-button:hover {
  background-color: #0b5f89;
  border-color: #0b5f89;
}

.loading-spinner {
  text-align: center;
  padding-top: 14%;
}

.logging-text {
  font-weight: bold;
}

