html {
  overflow-x: hidden;
}

.form-group {
  background-color: #ECF2F9;
}

body {
  background-color: #ECF2F9;
}


.receipt-row {
  background-color: #F0F0F5;
  border: solid #00A1F2;
}

.btn {
  background-color: #00A1F2;
  border-color: #00A1F2;
}

.btn:hover {
  background-color: #0b5f89;
  border-color: #0b5f89;
}

.error-message {
  color: red;
}

.back-button {
  color: #00A1F2 !important;
}

.full-height {
  height: calc(100% - 106px);
}
