<div class="body-wrapper">

  <br><br>
  <div class="row row-cols-1 row-cols-md-3 g-4 mx-4">
    <div class="col">
      <div class="card text-center rounded-5 p-3 shadow-lg">
        <img class="card-img-top rounded-5" src="../../../../assets/images/receipts6.jpg" alt="Receipts">
        <div class="card-body">
          <h3 class="card-title"><strong>Receipts</strong></h3>
          <p class="card-text">You can either insert the receipt data manually, or upload an image and have its data extracted by Optical Character Recognition (OCR).</p>
          <div class="btn-group-vertical">
            <a routerLink="../receipt-form" class="btn btn-primary btn-lg mb-2 fw-bold" role="button">Manual Insertion</a>
            <a routerLink="../file-upload" class="btn btn-primary btn-lg mt-2 mb-2 fw-bold" role="button">OCR Data Extraction</a>
            <a routerLink="../manage-receipts" class="btn btn-primary btn-lg mt-2 fw-bold" role="button">View Receipts</a>
          </div>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center rounded-5 p-3 shadow-lg">
        <img class="card-img-top rounded-5" src="../../../../assets/images/invoice2.jpg" alt="Invoices">
        <div class="card-body">
          <h3 class="card-title"><strong>Invoices</strong></h3>
          <p class="card-text mt-2">Keep track of your invoices and their due dates.</p>
          <br>
          <div class="btn-group-vertical mt-3 mb-5">
            <a routerLink="../add-invoice" class="btn btn-primary btn-lg mb-2 fw-bold" role="button">Add New Invoice</a>
            <a routerLink="../manage-invoices" class="btn btn-primary btn-lg mt-2 fw-bold" role="button">View Invoices</a>
          </div>
          <br>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center rounded-5 p-3 shadow-lg">
        <img class="card-img-top rounded-5" src="../../../../assets/images/altele.jpg" alt="Other Expenses">
        <div class="card-body">
          <h3 class="card-title"><strong>Others</strong></h3>
          <p class="card-text">You can also choose to keep track of other expenses, such as fuel, rent, entertainment expenses and others.</p>
          <div class="btn-group-vertical mt-3 mb-5">
            <a routerLink="../add-expense" class="btn btn-primary btn-lg mb-2 fw-bold" role="button">Add New Expense</a>
            <a routerLink="../manage-expenses" class="btn btn-primary btn-lg mt-2 fw-bold" role="button">View Expense Statistics</a>
          </div>
          <br>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
  </div>

</div>
