html {
  background-color: #ECF2F9;
}

.card {
  border-color: #00A1F2;
  background-color: #F0F0F5;
}

.card:hover {
  border-color: #0b5f89;
  border-width: 5px;
  transition: all .4s ease;
}

.btn {
  background-color: #00A1F2;
  border-color: #00A1F2;
}

.btn:hover {
  background-color: #0b5f89;
  border-color: #0b5f89;
}

header {
  align-content: center;
  color: white;
  background: rgba(0, 0, 0, .60);
}

header img {
  float: left;
  width: 80px;
  height: 80px;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
