<div class="body-wrapper">

  <div class="row py-3">

    <div class="col-lg-3 full-height">

      <div class="form-group">

        <div class="row">
          <div class="col-sm-8 text-center">
            <button routerLink="../main-page" mat-button class="btn bg-transparent back-button">
              <mat-icon>keyboard_arrow_left</mat-icon>
              Back to the main page
            </button>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-8 fw-bold text-center">

            <p>Year:</p>

            <mat-form-field appearance="fill">
              <mat-label>Select Year</mat-label>
              <mat-select [(ngModel)]="yearInput" [required]="true">
                <mat-option *ngFor="let year of possibleYears" [value]="year.actualValue">
                  {{year.displayedValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <p class="error-message" *ngIf="showYearInputError">A year must be selected!</p>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 fw-bold text-center">

            <p>Month:</p>

            <mat-form-field appearance="fill">
              <mat-label>Select Month</mat-label>
              <mat-select [(ngModel)]="monthInput">
                <mat-option *ngFor="let month of possibleMonths" [value]="month.value">
                  {{month.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>

        <div class="row mb-4">

          <div class="col-sm-8 mt-3 fw-bold text-center">

            <button mat-button class="btn btn-primary btn-lg search-btn mt-1 text-white shadow" (click)="showLineChart()">
              <mat-icon>pie_chart</mat-icon>
              Show Statistics
            </button>

          </div>

        </div>

        <div class="row" *ngFor="let option of options">
          <div class="col-sm-8 mt-3 fw-bold mx-5">
            <mat-checkbox color="primary" [checked]="option.isChecked" (change)="checkboxValueChanged($event.checked, option)">
            </mat-checkbox>
            <img src="../../../../assets/icons/{{option.icon}}" height="30px" width="30px">
            <span class="mx-3"><strong>{{option.name}}</strong></span>
          </div>
        </div>

      </div>

    </div>

    <div class="col-lg-8">

        <h4 *ngIf="isShowNoData" class="fw-bold text-center my-3">{{showNoDataMessage}}</h4>
        <div class="row mt-3" *ngIf="isShowLineChartMonth">
          <div class="col-lg-11">
            <apx-chart #monthChart
              [series]="lineChartMonthOptions.series"
              [chart]="lineChartMonthOptions.chart"
              [xaxis]="lineChartMonthOptions.xaxis"
              [dataLabels]="lineChartMonthOptions.dataLabels"
              [grid]="lineChartMonthOptions.grid"
              [stroke]="lineChartMonthOptions.stroke"
              [title]="lineChartMonthOptions.title"
            ></apx-chart>
          </div>
        </div>

        <div class="row mt-3" *ngIf="isShowLineChartDay">
          <div class="col-lg-11">
            <apx-chart
              [series]="lineChartDayOptions.series"
              [chart]="lineChartDayOptions.chart"
              [xaxis]="lineChartDayOptions.xaxis"
              [dataLabels]="lineChartDayOptions.dataLabels"
              [grid]="lineChartDayOptions.grid"
              [stroke]="lineChartDayOptions.stroke"
              [title]="lineChartDayOptions.title"
            ></apx-chart>
          </div>
        </div>

    </div>

  </div>

</div>
