<div class="body-wrapper">

    <div class="form-group px-5 py-3 row dates-div">

      <div class="col-sm-2 fw-bold text-center">

        <p><br></p>

        <button routerLink="../main-page" mat-button class="btn bg-transparent mt-1 back-button">
          <mat-icon>keyboard_arrow_left</mat-icon>
          Back to the main page
        </button>

      </div>

      <div class="col-sm-1">

      </div>

      <div class="col-sm-2 fw-bold text-center">

        <p>Invoice Issue Year:</p>

        <mat-form-field appearance="fill">
          <mat-label>Select Year</mat-label>
          <mat-select [(ngModel)]="yearInput" [required]="true">
            <mat-option *ngFor="let year of possibleYears" [value]="year.actualValue">
              {{year.displayedValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <p class="error-message" *ngIf="showYearInputError">A year must be selected!</p>

      </div>

      <div class="col-sm-2 fw-bold text-center">

        <p>Invoice Issue Month:</p>
        <mat-form-field appearance="fill">
          <mat-label>Select Month</mat-label>
          <mat-select [(ngModel)]="monthInput">
            <mat-option *ngFor="let month of possibleMonths" [value]="month.value">
              {{month.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="col-sm-2 fw-bold text-center">

        <p><br></p>

        <button mat-button class="btn btn-primary btn-lg search-btn mt-1 text-white shadow" (click)="doSearch()">
          <mat-icon>search</mat-icon>
          Search
        </button>

      </div>

    </div>

    <div *ngIf="noResults" class="no-results-div">
      <div class="receipt-row row my-4 py-3 mx-2 rounded-5 shadow text-center">
        <h4>
          No invoices were found for the selected period!
        </h4>
      </div>
    </div>

    <div *ngIf="invoicesFound" class="results-div">
      <div class="receipt-row row my-4 py-2 mx-2 rounded-5 shadow" *ngFor="let invoice of filteredInvoices">

        <div class="col-sm-1">

        </div>

        <div class="col-sm-2 text-center">
          <div class="row">
            <p>
              <strong>Retailer:</strong>
            </p>
          </div>
          <div class="row">
            <p>
              {{invoice.retailer}}
            </p>
          </div>
        </div>

        <div class="col-sm-2 text-center">
          <div class="row">
            <p>
              <strong>Price:</strong>
            </p>
          </div>
          <div class="row">
            <p>
              {{invoice.amount}}
            </p>
          </div>
        </div>

        <div class="col-sm-2 text-center">
          <div class="row">
            <p>
              <strong>Issue Date:</strong>
            </p>
          </div>
          <div class="row">
            <p>
              {{formatDate(invoice.invoiceDate)}}
            </p>
          </div>
        </div>

        <div class="col-sm-2 text-center">
          <div class="row">
            <p>
              <strong>Due Date:</strong>
            </p>
          </div>
          <div class="row">
            <p>
              {{formatDate(invoice.dueDate)}}
            </p>
          </div>
        </div>

        <div class="col-sm-2 text-center">
          <div class="row">
            <p>
              <strong>Paid Date:</strong>
            </p>
          </div>

          <div class="row">
            <p class="error-message fw-bold" *ngIf="invoice.paidDate == null">
              {{getPaidDate(invoice.paidDate)}}
            </p>

            <p *ngIf="invoice.paidDate != null">
              {{getPaidDate(invoice.paidDate)}}
            </p>
          </div>
        </div>

      </div>
    </div>

</div>
